PORT=5000
DATABASE_URL=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
SEED_ADMIN_PASSWORD=seed_admin_password
SEED_VENDOR_PASSWORD=seed_vendor_password
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
